* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* header-top */

.header-top {
    background: #ffe09980;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-top-left ,.header-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header-top-left */
.phone-container{
    position: relative;
    display: inline-block;
}
.phone-dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: red;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
.phone-dropdown-menu a{
    display: block;
    padding: 8px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.phone-container.open .phone-dropdown-menu{
    display: block;
}
.phone-dropdown-menu a:last-child{
    border-bottom: none;
}
.phone-dropdown-menu a:hover{
    background: black;
}
.phone-container{
    margin: 0 20px;
}
.header-top-left .location{
    font-weight: 600;
}
.phone-number{
    color: red;
    font-size: 1rem;
}
.phone-icon{
    color: red;
    font-size: 1.1rem;
    user-select: none;
}
.phone-dropdown-icon{
    color: red;
    font-size: 0.7rem;
    cursor: pointer;
}
/* header-top-right */
.personal-account{
    margin-right: 20px;
    position: relative;
}
.account-dropdown-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-dropdown-toggle:hover{
    text-decoration: underline;
}
.account-dropdown-toggle span{
    margin-right: 5px;
    color: rgb(43, 43, 43);
}
.account-dropdown-toggle p{
    color: #000000;
}
.account-dropdown-menu{
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background: #2c2c2c;
   border: 1px solid #ccc;
   border-radius: 5px;
   z-index: 1;
}
.account-dropdown-menu a{
    display: block;
    padding: 8px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
}
.account-dropdown-toggle a:last-child{
    border-bottom: none;
}
.account-dropdown-menu a:hover{
    background: #505050;
}
.personal-account.open .account-dropdown-menu{
    display: block;
}
.header-top-right .instagram:hover{
   transform: scale(1.1);
}
/* header-top responsive */
@media(max-width:1000px){
    .header-top {
        justify-content: space-between;
    }
}
@media(max-width:768px){
    .header-top {
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
}
@media(max-width:550px){
    .header-top{
        flex-direction: row;
        gap: 0;
    }
    .header-top-left .location,.header-top-left p{
        display: none;
    }
}
@media(max-width:420px){
    .header-top-right .account-dropdown-toggle p{
        display: none;
    }
    .instagram{
        display: none;
    }
    .account-dropdown-menu{
        left:-100%;
    }
}
/* Login */
.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #750000cf;
}
.login{
 background: white;
 width: 500px;
 padding: 50px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.login h2{
    text-align: center;
    margin-bottom: 30px;
}
.login .login-input{
    width: 100%;
    height: 45px;
    margin: 30px auto;
}
.login-input input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid #000;
}
.login-btn{
    width: 100%;
    background: red;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-weight: 600;
    opacity: 0.5;
    cursor: no-drop;
    transition: 0.3s;
}
.login-forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.login-forgot p{
    color: #505050;
    font-size: 1.2rem;
    user-select: none;
}
.login-forgot a{
    color: red;
    font-size: 1.2rem;
}
.login-forgot a:hover{
    text-decoration: underline;
}
.login-account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-account p{
    color: #505050;
    font-size: 1.2rem;
    user-select: none;
}
.login-account a{
    color: red;
    font-size: 1.2rem;
}
.login-account a:hover{
    text-decoration: underline;
}
/* responsive login */
@media(max-width:550px){
    .login{
        width: 400px;
    }
}
@media(max-width:430px){
    .login{
        width: 350px;
    }
}
@media(max-width:365px){
    .login{
        width: 300px;
    }
    .login-forgot p,.login-account p{
        font-size: 1rem;
    }
    .login-forgot a,.login-account a{
        font-size: 1rem;
    }
    .login-btn{
        font-size: 1rem;
    }
    .login-input input {
        padding-left: 5px;
        font-size: 0.9rem;
    }
}
@media(max-width:310px){
    .login{
        width: 220px;
    }
}
/*signup*/
.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #750000cf;
}
.signup{
 background: white;
 width: 500px;
 padding: 50px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.signup h2{
    text-align: center;
    margin-bottom: 30px;
}
.signup .signup-input{
    width: 100%;
    height: 45px;
    margin: 30px auto;
}
.signup-input input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid #000;
}
.signup-btn{
    width: 100%;
    background: red;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-weight: 600;
    opacity: 0.5;
    cursor: no-drop;
    transition: 0.3s;
}
.signup-rem{
    padding-left: 15px;
    margin-bottom: 20px;
}
.signup-rem label,.signup-rem input{
   cursor: pointer;
}
.signup-rem #check{
    accent-color: #750000cf;
}
.signup-or{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup-or hr{
    flex: 1;
    border: none;
    border-top: 1px solid #979797;
    margin: 0 10px;
}
.signup-or span{
    color: #333;
    font-weight: 900;
}
.signup-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.signup-login p{
    font-size: 1.1rem;
    color: #2c2c2c;
    font-weight: 600;
    letter-spacing: 1px;
}
.signup-login a{
    color:red;
    font-weight: 400;
    margin-left: 5px;
}
.signup-login a:hover{
    text-decoration: underline;
}

/* responsive Signup */
@media(max-width:550px){
    .signup{
        width: 400px;
    }
}
@media(max-width:430px){
    .signup{
        width: 350px;
    }
}
@media(max-width:365px){
    .signup{
        width: 300px;
    }
    .signup-btn{
        font-size: 1rem;
    }
    .signup-input input {
        padding-left: 5px;
        font-size: 0.9rem;
    }
}
@media(max-width:310px){
    .signup{
        width: 220px;
    }
}