* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* header-top */

.header-top {
    background: #ffe09980;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-top-left ,.header-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header-top-left */
.phone-container{
    position: relative;
    display: inline-block;
}
.phone-dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: red;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
.phone-dropdown-menu a{
    display: block;
    padding: 8px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.phone-container.open .phone-dropdown-menu{
    display: block;
}
.phone-dropdown-menu a:last-child{
    border-bottom: none;
}
.phone-dropdown-menu a:hover{
    background: black;
}
.phone-container{
    margin: 0 20px;
}
.header-top-left .location{
    font-weight: 600;
}
.phone-number{
    color: red;
    font-size: 1rem;
}
.phone-icon{
    color: red;
    font-size: 1.1rem;
    user-select: none;
}
.phone-dropdown-icon{
    color: red;
    font-size: 0.7rem;
    cursor: pointer;
}
/* header-top-right */
.personal-account{
    margin-right: 20px;
    position: relative;
}
.account-dropdown-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-dropdown-toggle:hover{
    text-decoration: underline;
}
.account-dropdown-toggle span{
    margin-right: 5px;
    color: rgb(43, 43, 43);
}
.account-dropdown-toggle p{
    color: #000000;
}
.account-dropdown-menu{
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background: #2c2c2c;
   border: 1px solid #ccc;
   border-radius: 5px;
   z-index: 1;
}
.account-dropdown-menu a{
    display: block;
    padding: 8px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
}
.account-dropdown-toggle a:last-child{
    border-bottom: none;
}
.account-dropdown-menu a:hover{
    background: #505050;
}
.personal-account.open .account-dropdown-menu{
    display: block;
}
.header-top-right .instagram:hover{
   transform: scale(1.1);
}